@font-face
{
	font-family: 'helveticaneuelt_std_cnregular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/helveticaneueltstd-cn-webfont.eot');
	src: url('helveticaneueltstd-cn-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/helveticaneueltstd-cn-webfont.woff') format('woff'), url('fonts/helveticaneueltstd-cn-webfont.ttf') format('truetype'), url('fonts/helveticaneueltstd-cn-webfont.svg#helveticaneuelt_std_cnregular') format('svg');
}
@font-face
{
	font-family: 'helveticaneuelt_std_med_cnRg';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/helveticaneueltstd-mdcn-webfont.eot');
	src: url('fonts/helveticaneueltstd-mdcn-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/helveticaneueltstd-mdcn-webfont.woff') format('woff'), url('fonts/helveticaneueltstd-mdcn-webfont.ttf') format('truetype'), url('fonts/helveticaneueltstd-mdcn-webfont.svg#helveticaneuelt_std_med_cnRg') format('svg');
}

@font-face
{
	font-family: 'MonomodernExtendedItalic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/helveticaneueltstd-mdcn-webfont.eot');
	src: url('fonts/m_modern-extended-t-ot-book-italic-webfont.eot?#iefix') format('embedded-opentype'), 
         url('fonts/m_modern-extended-t-ot-book-italic-webfont.woff') format('woff'), 
         url('fonts/m_modern-extended-t-ot-book-italic-webfont.ttf') format('truetype'), 
         url('fonts/m_modern-extended-t-ot-book-italic-webfont.svg') format('svg');
}
@font-face
{
	font-family: "MonotypeExtented";
	font-style: normal;
	font-weight: normal;
	src: url('fonts/MonotypeModernExtended.eot');
	src: url('fonts/MonotypeModernExtended.eot?#iefix') format('embedded-opentype'), 
         url('fonts/MonotypeModernExtended.woff') format('woff'), 
         url('fonts/MonotypeModernExtended.ttf') format('truetype'), 
         url('fonts/MonotypeModernExtended.svg') format('svg');
}

@font-face
{
	font-family: "GillSans";
	src: url('fonts/gillsansmt.eot');
	src: url('fonts/gillsansmt.ttf') format('truetype');
	src: url('fonts/gillsansmt.eot?#iefix') format('embedded-opentype'), 
         url('fonts/gillsansmt.woff') format('woff'), 
         url('fonts/gillsansmt.ttf') format('truetype'), 
         url('fonts/gillsansmt.svg') format('svg');

}
@font-face {
    font-family: 'MuseoSans';
    src: url('fonts/MuseoSans_500-webfont.eot');
    src: url('fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/MuseoSans_500-webfont.woff') format('woff'),
    url('fonts/MuseoSans_500-webfont.ttf') format('truetype'),
    url('fonts/MuseoSans_500-webfont.svg#MuseoSans500Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}